<app-app-header></app-app-header>

<ion-content>
   <div class="o-container">
      <img src="/assets/img/uniswap-logo.svg" alt="">
      <h1 class="opHeader">
        Uniswap Liquidity Farming
      </h1>
      <p>
        Deposit OPT-USDC-LP and earn OPT
      </p>      
      <div class="rewardStatus">
         
        <div class="rewardStatusData nodata">
          <div class="rewardStatus__item">
             <div class="rewardStatus__label">Est. APY</div>  
             <div class="rewardStatus__value">10%</div>                         
          </div>
          <div class="rewardStatus__item">
             <div class="rewardStatus__label">OPT-USDC pair</div>  
             <div class="rewardStatus__value">Info <div class="chevron"></div> </div>                         
          </div>
          <div class="rewardStatus__item">
             <div class="rewardStatus__label">Providing liquidity</div>  
             <div class="rewardStatus__value">Guide <div class="chevron"></div></div>                         
          </div>            
       </div>

      </div>
         <div class="harvest">
            <div class="harvest__item m-center">
               <div class="harvest__value">
                  0.00000
               </div>   
               <div class="harvest__label">
                OPT-USDC-LP deposited
               </div>      
               <button class="btn btn-unlock">
                  <div class="btnInner">
                     <span>Add Liquidity</span>                     
                  </div>
               </button>                             
            </div> 
         
         </div>

      </div>
 </ion-content>