<app-app-header></app-app-header>

<ion-content>
   <div class="o-container">
      <img src="/assets/img/rawlogo.svg" alt="">
      <h1 class="opHeader">
         OpenPredict Staking
      </h1>
      <p>
         Stake OPT and earn OPT
      </p>      
      <div class="rewardStatus">
         
         <div class="rewardStatusData">
            
            <div class="rewardStatus__item">
               <div class="rewardStatus__label" id="rewardStatus_label"></div>  
               <div class="rewardStatus__value" id="rewardStatus_value" 
               ><span *ngIf="loadTimeReward; else loading"></span>Loading..</div>                         
            </div>
   
            <div class="rewardStatus__item">
               <div class="rewardStatus__label">APY</div>
               <div class="rewardStatus__value">22%</div>                         
            </div>   
         </div>

         <div class="rewardStatus__item" *ngIf="(stakingData$ | async) as stakingData">
            <div class="rewardStatus__label">Total Staked</div>  
            <div class="rewardStatus__value">~{{ getContractBalance(stakingData, true) }} / 100000 OPT</div>                         
         </div>

      </div>
         <div class="harvest" *ngIf="(stakingData$ | async) as stakingData">
            <div class="harvest__item">
               <div class="harvest__value">
                  ~{{ getRewards(stakingData, true) }}
               </div>   
               <div class="harvest__label">
                  OPT earned
               </div>      
               <button
               class="btn btn-unlock"
               [disabled]="!hasBalance(getRewards(stakingData, false))"
               (click)="harvest()"
               >
                  <div class="btnInner">
                     <span>Harvest</span>
                  </div>
               </button>                             
            </div> 
            <div class="harvest__item">
               <div class="harvest__value">
                  ~{{ getStaked(stakingData, true) }}
               </div>   
               <div class="harvest__label">
                  OPT staked
               </div>      
               <button class="btn btn-unlock" *ngIf="!(loggedIn$ | async)" (click)="login()">
                  <div class="btnInner">
                     <img src="/assets/img/lock.svg" alt="" srcset="">
                     <span>Unlock</span>                    
                  </div>                  
               </button>
               <div *ngIf="(stakingData$ | async) as stakingData">

                  <div *ngIf="!hasBalance(getStaked(stakingData, false))">
                     <button class="btn btn-unlock unstake" *ngIf="loggedIn$ | async" (click)="stake()">
                        <div class="btnInner">
                           <span>Stake OPT</span>                    
                        </div>                  
                     </button>
                  </div>

                  <div *ngIf="hasBalance(getStaked(stakingData, false))">
                     <button class="btn btn-unlock unstake" *ngIf="loggedIn$ | async" (click)="unstake()">
                        <div class="btnInner">
                           <span>Unstake OPT</span>                    
                        </div>                  
                     </button> 
                     <button class="btn btn-unlock add" *ngIf="loggedIn$ | async" (click)="stake()">
                        <div class="btnInner">
                           <span>+</span>                    
                        </div>                  
                     </button> 
                  </div>

               </div>                 
            </div>          
         </div>
         <p>
            Every time you stake and unstake OPT tokens, the contract will automagically harvest rewards for you!
         </p>
         
         <div class="back__button" (click)="goBack()">
            <div class="back__button--icon"></div>
            <span>Go back</span>
          </div>             
         
      </div>
 </ion-content>
 <app-app-footer></app-app-footer>
 <ng-template #loading>
   <mat-spinner ></mat-spinner>
 </ng-template>