<app-app-header></app-app-header>

<ion-content>
   <div class="o-container">
      <img src="/assets/img/balancer-logo.svg" alt="">
      <h1 class="opHeader">
        Balancer Liquidity Farming
      </h1>
      <p>
        Hold OPT-USDC-LP and earn OPT
      </p>   
      
      
      <div class="rewardStatus">
         <div class="rewardStatusData nodata">
            <div class="rewardStatus__item">
               <div class="rewardStatus__label">Est. APY</div>  
               <div class="rewardStatus__value" *ngIf="(poolData$ | async) as poolData; else loading"> {{poolData.USDCAPY}}%</div>
            </div>
            <div class="rewardStatus__item">
               <div class="rewardStatus__label">OPT-USDC pair</div>  
               <div (click)="openURL('https://pools.balancer.exchange/#/pool/0xd3d14de568990854705c40221f75efbad8c0c981/shares')"
                     class="rewardStatus__value" >
                     Info <div class="chevron"></div>
                  </div>                         
            </div>
            <div class="rewardStatus__item">
               <div class="rewardStatus__label">Providing liquidity</div>  
               <div (click)="openURL('https://medium.com/openpredict/how-to-guide-adding-liquidity-to-balancer-pool-a63f1addb3c3')"
                     class="rewardStatus__value">
                     Guide <div class="chevron"></div>
                  </div>                         
            </div>            
         </div>
       
         <div class="harvest">
            <div class="harvest__item m-center">
               <div class="harvest__value" *ngIf="(poolData$ | async) as poolData"> {{ poolData.USDCLP }} </div>   
               <div class="harvest__label">
                  OPT-USDC-LP Tokens held
               </div>      
               <button (click)="openURL('https://pools.balancer.exchange/#/pool/0xd3d14de568990854705c40221f75efbad8c0c981/')" class="btn btn-unlock">
                  <div class="btnInner">
                     <span>Add Liquidity</span>                     
                  </div>
               </button>                             
            </div> 
         </div>       
      </div>

      
         <div class="back__button" (click)="goBack()">
            <div class="back__button--icon"></div>
            <span>Go back</span>
         </div>             
         
         
      </div>
 </ion-content>
 <ng-template #loading>
   <mat-spinner ></mat-spinner>
 </ng-template>
