<h2 class="modalHeader">
  Unlock Wallet
</h2>

<ul class="list-reset walletSelectionModal__list" >
  <li class="list-reset walletSelectionModal__item" (click)="openMetamask()">
    <div class="walletSelectionModal__name">
      MetaMask
    </div>
    <div class="walletSelectionModal__icon i-metamask"></div>
  </li>
  <!-- <li class="list-reset walletSelectionModal__item" (click)="openLedger()">
    <div class="walletSelectionModal__name">
      TrustWallet
    </div>
    <div class="walletSelectionModal__icon i-trustwallet"></div>
  </li>    
  <li class="list-reset walletSelectionModal__item" (click)="openMetamask()">
    <div class="walletSelectionModal__name">
      Coinbase Wallet
    </div>
    <div class="walletSelectionModal__icon i-metamask"></div>
  </li> -->
  <!-- <li class="list-reset walletSelectionModal__item" (click)="openLedger()">
    <div class="walletSelectionModal__name">
      Ledger
    </div>
    <div class="walletSelectionModal__icon i-trustwallet"></div>
  </li>       -->
</ul> 