.padding015 {
    padding: 0 15px;
}

.logo {
    width: 150px;    
}

.btn-header {
    width: auto;
    padding: 9px 15px;     
    @media only screen and (max-width: 767px) {
        font-size: 9px!important;
        padding: 7px;    
    }      
    span {
        @media only screen and (max-width: 767px) {
            font-size: 11px!important;
        }         
    }
    
    .btnInner {
        justify-content: space-between;
        align-items: center;
        font-weight: bold;            
    }
    
}