<ion-header [translucent]="true">
  <ion-toolbar class="padding015" color="secondary">
    <img class="logo" src="/assets/img/logo.svg" alt="">
    <ion-buttons slot="end">
      <button class="btn btn-unlock" *ngIf="!(loggedIn$ | async)" (click)="login()">
        <div class="btnInner">
           <img src="/assets/img/lock.svg" alt="" srcset="">
           <span>Unlock</span>                    
        </div>                  
     </button>    
     
     <button class="btn btn-unlock" *ngIf="loggedIn$ | async" (click)="options()">
      <div class="btnInner">
         <span>My Wallet</span>                    
      </div>                  
   </button>         
     
     
    </ion-buttons>      
  </ion-toolbar>
</ion-header>