<app-app-header></app-app-header>

<ion-content>
  <div>
      <div class="farmingHeader">
        <img src="/assets/img/staking-logo.svg" alt="">
        <h1 class="opHeader">
          OpenPredict Staking
        </h1>
        <p>
          Earn OPT by staking OPT or providing liquidity
        </p>
      </div>
      
      <div class="farmingWrapper">
      
      <div class="farmingOption">
        <img src="/assets/img/uniswap-logo.svg" alt="">
        <h1 class="opHeader stakingHeader">
          <span>
            Uniswap Liquidity Farming
          </span>      
        </h1>
        <p class="stakingPairs">
          Hold OPT-USDT-LP / OPT-ETH-LP
          <br>
          Earn OPT
        </p>
        <h2 class="opHeader apy opHeader__light">
          APY: <span *ngIf="(poolData$ | async) as poolData; else loading">{{(poolData.ETHAPY + poolData.USDTAPY) / 2}}%</span>
        </h2>
        <p class="stakingPairs">
          - Daily: 0.3% (of Pool Volume)
          <br>
          - Bi-weekly: Yield Farming Reward
        </p>
        <button class="btn btn-unlock" (click)="open('uniswap')">
          <div class="btnInner">
              <span>Select</span>                     
          </div>
        </button>      
      </div>
      
      <div class="farmingOption">
        <img src="/assets/img/balancer-logo.svg" alt="">
        <h1 class="opHeader stakingHeader">
          <span>
            Balancer Liquidity Farming
          </span>
        </h1>
        <p class="stakingPairs">
          Hold OPT-USDC-LP
          <br>
          Earn OPT
        </p>
        <h2 class="opHeader apy opHeader__light">
          APY: <span *ngIf="(poolData$ | async) as poolData; else loading">{{ poolData.USDCAPY }}%</span>
        </h2>
        <p class="stakingPairs">
          - Daily: 0.05% (of Pool Volume)
          <br>
          - Bi-weekly: Yield Farming Reward
        </p>
        <button class="btn btn-unlock" (click)="open('balancer')">
          <div class="btnInner">
              <span>Select</span>                     
          </div>
        </button>      
      </div>

      <div class="farmingOption">
        <img src="/assets/img/rawlogo.svg" alt="">
        <h1 class="opHeader stakingHeader">
          <span>
            OPT Staking
          </span>        
        </h1>
        <p class="stakingPairs">
          Deposit OPT
          <br>
          Earn OPT
        </p>
        <h2 class="opHeader apy opHeader__light">
          APY: 8.5%
        </h2>
        <p class="stakingPairs">
          - Daily (up to 90 days): 0.023% 
        </p>
        <button class="btn btn-unlock" (click)="open('opt')">
          <div class="btnInner">
              <span>Select</span>                     
          </div>
        </button>      
      </div>
      
          
      
    </div>
  </div>
  
</ion-content>

<ng-template #loading>
    <mat-spinner ></mat-spinner>
  </ng-template>
