<app-app-header></app-app-header>

<ion-content>
  
  <div class="farmingHeader">
    <img src="/assets/img/staking-logo.svg" alt="">
    <h1 class="opHeader">
      OpenPredict Staking
    </h1>
    <p>
      Earn OPT by staking OPT or providing liquidity
    </p>
  </div>
  
  <div class="farmingWrapper">
    

  
  <div class="farmingOption">
    <img src="/assets/img/tp-logo.svg" alt="">
    <h1 class="opHeader equalize">
      <span>
        OPT Staking
      </span>        
    </h1>
    <p>
      Deposit OPT
      <br>
      Earn OPT
    </p>
    <h2 class="opHeader apy opHeader__light">
      Earnings:
    </h2>
    <p>
      - Daily (up to 90 days): 0.023% 
    </p>
    <button class="btn btn-unlock" (click)="open('opt')">
       <div class="btnInner">
          <span>Select</span>                     
       </div>
    </button>      
  </div>
  
  <div class="farmingOption">
    <img src="/assets/img/uniswap-logo.svg" alt="">
    <h1 class="opHeader equalize">
      <span>
        Uniswap Liquidity Farming
      </span>      
    </h1>
    <p>
      Deposit OPT-USDT-LP / OPT-ETH-LP
      <br>
      Earn OPT
    </p>
    <h2 class="opHeader apy opHeader__light">
      Earnings:
    </h2>
    <p>
      - Daily: 0.3% (of Pool Volume)
      <br>
      - Bi-weekly: OPT Reward (of 750 OPT)
    </p>
    <button class="btn btn-unlock" (click)="open('uniswap')">
       <div class="btnInner">
          <span>Select</span>                     
       </div>
    </button>      
  </div>
  
  <div class="farmingOption">
    <img src="/assets/img/balancer-logo.svg" alt="">
    <h1 class="opHeader equalize">
      <span>
        Balancer Liquidity Farming
      </span>
    </h1>
    <p>
      Deposit OPT-USDC-LP
      <br>
      Earn OPT
    </p>
    <h2 class="opHeader apy opHeader__light">
      Earnings:
    </h2>
    <p>
      - Daily: 0.05% (of Pool Volume)
      <br>
      - Bi-weekly: OPT Reward (of 750 OPT)
    </p>
    <button class="btn btn-unlock" (click)="open('balancer')">
       <div class="btnInner">
          <span>Select</span>                     
       </div>
    </button>      
  </div>  
  
       
  
</div>
  
  
</ion-content>
