<app-app-header></app-app-header>

<ion-content>
  
  <div class="farmingHeader">
    <img src="/assets/img/staking-logo.svg" alt="">
    <h1 class="opHeader">
      OpenPredict Staking
    </h1>
    <p>
      Earn OPT by staking OPT or providing liquidity
    </p>
  </div>
  
  <div class="farmingWrapper">
    

  
  <div class="farmingOption">
    <img src="/assets/img/tp-logo.svg" alt="">
    <h1 class="opHeader equalize">
      <span>
        OPT Staking
      </span>        
    </h1>
    <p>
      Deposit OPT Earn OPT
    </p>
    <h2 class="opHeader apy opHeader__light">
      APY 26%
    </h2>
    <button class="btn btn-unlock" (click)="open('otp-staking')">
       <div class="btnInner">
          <span>Select</span>                     
       </div>
    </button>      
  </div>
  
  <div class="farmingOption">
    <img src="/assets/img/uniswap-logo.svg" alt="">
    <h1 class="opHeader equalize">
      <span>
        Uniswap Liquidity Farming
      </span>      
    </h1>
    <p>
      Deposit OPT-USDC-LP Earn OPT
    </p>
    <h2 class="opHeader apy opHeader__light">
      APY 26%
    </h2>
    <button class="btn btn-unlock" (click)="open('uniswap')">
       <div class="btnInner">
          <span>Select</span>                     
       </div>
    </button>      
  </div>
  
  <div class="farmingOption">
    <img src="/assets/img/balancer-logo.svg" alt="">
    <h1 class="opHeader equalize">
      <span>
        Balancer Liquidity Farming
      </span>
    </h1>
    <p>
      Deposit OPT-USDC-LP Earn OPT
    </p>
    <h2 class="opHeader apy opHeader__light">
      APY 26%
    </h2>
    <button class="btn btn-unlock" (click)="open('balancer')">
       <div class="btnInner">
          <span>Select</span>                     
       </div>
    </button>      
  </div>  
  
</div>
  
  
</ion-content>
