:host {
    padding: 20px;
    text-align: center;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #89F4ED;    
}

li.btnWrap {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;    
}


label  {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #A6AEBE;    
    margin-bottom: 9px;
    display: block;    
}