<app-app-header></app-app-header>

<ion-content>
   

   <div class="o-container">
      


      <img src="/assets/img/logo-main.svg" alt="">
      
      <h1 class="opHeader">
         OpenPredict Staking
      </h1>
      
      <p>
         OpenPredict Staking
      </p>      

      <div class="rewardStatus">
         <div class="rewardStatus__item">
            <div class="rewardStatus__label">
               Event pair:
            </div>  
            <div class="rewardStatus__value">
               50 OPT
            </div>                         
         </div>    
         
         <div class="rewardStatus__item">
            <div class="rewardStatus__label">
              Reward frequency:
            </div>  
            <div class="rewardStatus__value">
              24h
            </div>                         
         </div>    
         
         <div class="rewardStatus__item">
            <div class="rewardStatus__label">
              APR:
            </div>  
            <div class="rewardStatus__value">
              26%
            </div>                         
         </div>             
         
      </div>
      
      
      <!-- <div class="harvest"> -->
         
         <div class="harvest">
            <div class="harvest__item">
               <div class="harvest__value">
                  0.000
               </div>   
               <div class="harvest__label">
                  OPT earned
               </div>      
               <button class="btn btn-grey">
                  <div class="btnInner">
                     <span>Harvest</span>                     
                  </div>
               </button>                             
            </div> 
            <div class="harvest__item">
               <div class="harvest__value">
                  0.000
               </div>   
               <div class="harvest__label">
                  OPT earned
               </div>      
               <button class="btn btn-unlock" (click)="deposit()">
                  <div class="btnInner">
                     <img src="/assets/img/lock.svg" alt="" srcset="">
                     <span>Unlock</span>                    
                  </div>                  
               </button>                             
            </div>          
         </div>
         
         <p>
            Every time you stake and unstake OPT tokens, the contract will automagically harvest rewards for you!
         </p>
      </div>
      
      
      
      
      
   <!-- </div> -->
   
   <!-- <span class="heading"></span>
   <span class="subheading">Deposit OPT and earn OPT</span>

    <div class="v1_15"></div>
    <div class="v1_16"></div>
    <div class="v1_17"></div>
    
    <span class="v1_18">Harvest</span>
    <span class="v1_19">Unlock Wallet</span>
    <span class="v1_20">Unlock Wallet</span>
    <span class="v1_21">lock</span>
    <span class="v1_22">lock</span>
    <span class="v1_27">OpenPredict Staking Contract</span>
    <span class="v1_28">Every time you stake and unstake OPT tokens, the contract will automagically harvest rewards for you!</span>
    <span class="v1_29">OpenPredict Token</span>
    
    <div class="v1_30">
       <div class="v1_31">
          <div class="v1_32">
             <div class="v1_33"></div>
             <div class="v1_34"></div>
             <div class="v1_35"></div>
             <div class="v1_36"></div>
             <div class="v1_37"></div>
             <div class="v1_38"></div>
             <div class="v1_39"></div>
             <div class="v1_40"></div>
             <div class="v1_41"></div>
             <div class="v1_42"></div>
             <div class="v1_43"></div>
          </div>
       </div>
    </div>
    
    <span class="v1_44">0.000</span>
    <span class="v1_45">0.000</span>
    <span class="v1_25">OPT earned</span>
    <span class="v1_26">OPT staked</span>

    <div class="v1_46"></div>
    <span class="v1_47">Event pair:</span>
    <span class="v1_48">APR</span>
    <span class="v1_49">Reward frequency:</span>
    <span class="v1_50">50 OPT</span>
    <span class="v1_51">26%</span>
    <span class="v1_52">24h</span> -->

 </ion-content>