<app-app-header></app-app-header>

<ion-content>
   <div class="o-container">
      <img src="/assets/img/rawlogo.svg" alt="">
      <h1 class="opHeader">
         OpenPredict Staking
      </h1>
      <p>
         Stake OPT and earn OPT
      </p>      
      <div class="rewardStatus">
         
         <div class="rewardStatus__item">
            <div class="rewardStatus__label">Minimum Deposit</div>  
            <div class="rewardStatus__value">50 OPT</div>                         
         </div>

         <div class="rewardStatus__item">
            <div class="rewardStatus__label">Reward Frequency</div>  
            <div class="rewardStatus__value">24h</div>                         
         </div>

         <div class="rewardStatus__item">
            <div class="rewardStatus__label">APR</div>  
            <div class="rewardStatus__value">39%</div>                         
         </div>

         <div class="rewardStatus__item" *ngIf="(stakingData$ | async) as stakingData">
            <div class="rewardStatus__label">Total Staked</div>  
            <div class="rewardStatus__value">{{ parseAmount(stakingData.ContractBalance) }} OPT</div>                         
         </div>

      </div>
         <div class="harvest" *ngIf="(stakingData$ | async) as stakingData">
            <div class="harvest__item">
               <div class="harvest__value">
                  {{ parseAmount(stakingData.rewards) }}
               </div>   
               <div class="harvest__label">
                  OPT earned
               </div>      
               <button
               class="btn btn-unlock"
               [disabled]="!hasRewards(stakingData.rewards)"
               (click)="harvest()"
               >
                  <div class="btnInner">
                     <span>Harvest</span>                     
                  </div>
               </button>                             
            </div> 
            <div class="harvest__item">
               <div class="harvest__value">
                  {{ parseAmount(stakingData.staked) }}
               </div>   
               <div class="harvest__label">
                  OPT staked
               </div>      
               <button class="btn btn-unlock" *ngIf="!(loggedIn$ | async)" (click)="login()">
                  <div class="btnInner">
                     <img src="/assets/img/lock.svg" alt="" srcset="">
                     <span>Unlock</span>                    
                  </div>                  
               </button>     
               <button class="btn btn-unlock" *ngIf="loggedIn$ | async" (click)="stake()">
                  <div class="btnInner">
                     <span>Stake OPT</span>                    
                  </div>                  
               </button>                  
            </div>          
         </div>
         <p>
            Every time you stake and unstake OPT tokens, the contract will automagically harvest rewards for you!
         </p>
      </div>
 </ion-content>