.land_containter {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 140px;
    img {
        width: 260px;
        height: 331px;
    }
}
.land_header {
    height: 60px;    
    margin-top: 0px;
}
.land_p {
    width: 463px;
    height: 138px;
    align-self: center;
    color: #ffffff;
}
.land_btns {
    height: 49px;
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.land_logo {
    width: 270px;
    align-self: center;
    margin-left: 49px !important;
    margin-top: -16px !important;
}