
<!-- <app-app-header></app-app-header> -->

<ion-content overflow-scroll="true">
  <div class="land_containter">
        
      <div class="stake_description">
        <h1 class="opHeader land_header">
          OpenPredict Staking is currently down for maintenence. 
          <br/><br/> Please check back later!
        </h1>
        <!-- <p class="land_p">
          OpenPredict enables anyone to create speculations on the future value of anything 
          in the form of Liquid Options, making them tradable. From simple speculations between 
          friends to hedging risk against adverse market volatility, anyone can use it without 
          having to know how to code. 
        <br><br>
          OPT token is the fuel behind our protocol. Stake your OPT 
          token to receive rewards.
        </p> -->
        <!-- <div class="land_btns">
          <button class="btn btn-unlock purchase_btn" (click)="openURL('https://balancer.exchange/#/swap/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48/0x4fe5851c9af07df9e5ad8217afae1ea72737ebda')">
            <div class="btnInner">
                <span>Purchase OPT</span>                     
            </div>
          </button>   
          <button class="btn btn-blue stake_opt" (click)="navigateStaking()">
            <div class="btnInner">
                <span>Stake OPT</span>                     
            </div>
          </button>   
        </div> -->
      </div>
      <div class="land_logo"><img src="/assets/img/landing-logo.png" alt=""></div>
  </div>
</ion-content>
<!-- <app-app-footer></app-app-footer> -->